body {
  margin: 0;
  padding: 0;
  background: white;
}

header{
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
}

img{
  margin-top: 2em;
}
p {
    font-size: 1em;
}
/*
.nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
*/
.nav {
  width: 100%;
  background-color: #333;
  text-align: center;
  display: block;
}

.nav ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
       display: inline-block;
   }

.nav li {
       font-family: 'Oswald', sans-serif;
       float: left;
       font-size: 1.2em;
   }

.nav  li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }
.nav a:hover {
     background-color: #005f5f;
   }

.nav a.active {
     background-color: #fff;
     color: #444;
     cursor: default;
   }
@media screen and (max-width: 500px) {

  .nav li {
    width: 100%;
    border-bottom: none;
    line-height: 20px;
    font-size: 1.2em;
    padding: 0.5%;
  }

  /* Option 1 - Display Inline */
  /*.nav li {
    display: inline-block;
    margin-right: -4px;
  }*/
}
.center{
  text-align: center;
}
.block{
  margin: 50px;
  border: 3px solid black;
  background-color: white;
  padding: 20px;
}
#layout{
	flex-direction: column;
  display: flex;
  margin:5vh auto;
  max-width: 80%;
}

.list{
	width:100%;
	display: flex;
  margin:3em 0;
	flex-flow: row wrap;
}

.left{
	width:50%;
	float:left;
  padding:0;

}

.right{
	display:block;
  float:left;
	padding:0 2em;
  width: 40%;
}

#page{
  background-color: lightgrey;
  border: 3px solid black;
  padding: 25px;
	margin:5vh auto;
	max-width: 80%;
  display: flex;
  flex-direction: column;
}
h2,h3,h4
{
  text-align: center;
}
.heading
{
  background-color: yellow;
  padding: 20px;
}
footer{
  text-align: center;
  background-color:black;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

#index{
	flex-direction: column;
	display: inline;
	margin:7vh auto;
	max-width: 100%;
}

#resume{
	flex-direction: column;
	display: flex;
	margin:3vh auto;
	max-width: 100%;
}

#favorite {
	flex-direction: column;
	display: flex;
  max-width: 100%;
  margin:1vh auto;
}
#map {
        height: 400px;
	border: 3px solid black;
        margin: 50px;
       }

button {
  background-color: black;
  border: none;
  color: white;
  margin:0 0.5em 1em 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5em;

  cursor: pointer;
}

button:hover {
  background-color:yellow;
  color:black;
}

button:active {
  background-color:black;
}


